.made-with {
    background: blue;
}

.sidebar {
    text-align: center;
}

.sidebar img {
    width: 200px;
}

.avatar {
    float: left;
    margin-right: 14px
}

.book {
    width: 50px;
    height: 75px;
    margin: 0px 7px;
}
