
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Brian C. Jordan - software engineer</title>
  <link rel="stylesheet" href="/css/foundation.css" />
  <script src="/js/vendor/modernizr.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Oswald|Quattrocento' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right">
            <ul class="button-group">
                <li><a href="#" class="button">Portfolio</a></li>
                <li><a href="http://github.com/bcjordan" class="button">Open Source</a></li>
                <li><a href="#" class="button">Speaking</a></li>
                <li><a href="#" class="button">Publications</a></li>
            </ul>
        </div>
        <h1>Brian C. Jordan</h1>
        <hr/>
    </div>
</div>

{{ content }}

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright Brian Jordan, but <a href="http://github.com/bcjordan/bcjordan.github.com">feel free to fork</a>.</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">Resume PDF</a></li>
                    <li><a href="#">Favorite Books</a></li>
                    <li><a href="#">Favorite People</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
